body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  